@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.header {
    align-items: center;
    padding: 1em 15em;
    background-color: #1f2937;
    color: #f9faf8;
    box-shadow: 2px 13px 19px -10px rgba(0,0,0,0.68);
    -webkit-box-shadow: 2px 13px 19px -10px rgba(0,0,0,0.68);
    -moz-box-shadow: 2px 13px 19px -10px rgba(0,0,0,0.68);
}

.headerTitle {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.rightLinks ul {
    display: flex;
    list-style-type: none;
}

.rightLinks a {
    padding: 8px;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 24px;
}

.leftItems {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 30em;
    gap: 16px;
}

.titleH1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.heroP {
    font-size: 18px;
    color: #e5e7eb;
}

.heroSection {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    margin-bottom: 2em;
}

.btnSignup {
    width: 10em;
    font-size: 16px;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

 img{
    max-width: 600px;
    height: auto;
}

.moreInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoCards{
    gap: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 100px;
}

.card1, .card2, .card3, .card4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.infoCards img{
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: 3px solid gray;
    box-shadow: 1px 7px 39px -6px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 7px 39px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 7px 39px -6px rgba(0,0,0,0.51);
}

#infoText{
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    padding: 50px;
}

.quoteSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 300px;
    bbox-shadow: 1px -6px 39px -6px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px -6px 39px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px -6px 39px -6px rgba(0,0,0,0.51);
}

.quoteSection p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.callToaction{
    display: flex;
    justify-content: center;
    padding: 100px 200px;
}
.actionContainer{
    border-radius: 12px;
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    gap: 100px;
    box-shadow: 4px 12px 24px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 12px 24px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 12px 24px 0px rgba(0,0,0,0.51);
}

.actionContainer h4{
    color: rgb(250, 250, 250);
}

.btnSignup2 {
    width: 10em;
    font-size: 16px;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid white;
}